:root {
  --sidebar-width: 27rem;
}

main.contact {
  padding: 
    var(--project-vertical-padding) 
    var(--project-horizontal-padding) 
    var(--project-horizontal-padding);
  color: white;
  display: flex;

  position: absolute;
  height: 100%;
  width: 100%;
  background: #222224;
  box-sizing: border-box;

  > section {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  > .hello {
    flex: 9;
    padding-right: var(--gutter-large);

    > .form {
      display: flex;
      text-transform: uppercase;
      font-size: var(--h1);

      textarea {
        border: 0;
        border-bottom: 1px solid white;
        font-size: .8em;
        color: white;
        font-weight: var(--font-light);
        padding-bottom: .1em;
        height: 1em;
        resize: none;
        flex: 1;
        margin: 0 var(--gutter-big);
        font-size: var(--h1);
      }

      button {
        color: white;
        text-transform: uppercase;
        font-size: var(--h1);
      }
    }

    > .map {
      margin-top: var(--gutter-large);
      background: #333333;
      flex: 1;
    }
  }

  > .aside {
    flex: 2;
    text-align: right;

    > .address {
      margin-top: 100%;
    }
  }
}