/* colors */
:root {
  --black: #0D0D0D;

  --green: #6DEA4C;
  --green-darker: #67DE46;
}

/* brand colors */
:root {
  /* primary */
  --primary: var(--black);
  --primary-contrast: white;

  /* secondary */
  --secondary: var(--green);
  --secondary-contrast: white;
  --secondary-helper: black;

  --secondary-darker: var(--green-darker);

  /* tertiary */
  --tertiary: var(--lightgray);

  /* quaternary */
  --quaternary: var(--midgray);

  /* quinary */
  --quinary: var(--midgray);
}