:root {
  --font-flama: 'Flama';
  
  /* families */
  --font-sans-serif-primary: var(--font-flama);

  --font-thin: var(--font-light);
  --font-extralight: var(--font-light);
  --font-medium:  var(--font-regular);
  --font-semibold: var(--font-regular);
  --font-extrabold: var(--font-bold);
  --font-black: var(--font-bold);
}

@font-face {
  font-family: var(--font-flama);
  src: url("/assets/fonts/flama-book.woff2") format('woff2'),
       url("/assets/fonts/flama-book.woff") format('woff');
  font-weight: var(--font-light);
}

@font-face {
  font-family: var(--font-flama);
  src: url("/assets/fonts/flama-regular.woff2") format('woff2'),
       url("/assets/fonts/flama-regular.woff") format('woff');
  font-weight: var(--font-regular);
}

@font-face {
  font-family: var(--font-flama);
  src: url("/assets/fonts/flama-bold.woff2") format('woff2'),
       url("/assets/fonts/flama-bold.woff") format('woff');
  font-weight: var(--font-bold);
}