:root {
  --heading-sequence: var(--major-second);
  --heading-median: 1.8;

  --heading-line-height: 1;
  --heading-margin: 0;
  --heading-font-weight: var(--font-regular);
}

:root {
  --heading-base-tablet: var(--heading-base);
  --heading-sequence-tablet: var(--minor-second);

  --h0-tablet: calc(var(--h1-tablet) * var(--heading-sequence-tablet));
  --h1-tablet: calc(var(--h2-tablet) * var(--heading-sequence-tablet));
  --h2-tablet: calc(var(--h3-tablet) * var(--heading-sequence-tablet));
  --h3-tablet: calc(var(--h4-tablet) * var(--heading-sequence-tablet));
  --h4-tablet: calc(var(--h5-tablet) * var(--heading-sequence-tablet));
  --h5-tablet: calc(var(--h6-tablet) * var(--heading-sequence-tablet));
  --h6-tablet: var(--heading-base-tablet);
  --h7-tablet: calc(var(--h6-tablet) / var(--heading-sequence-tablet));
  --h8-tablet: calc(var(--h7-tablet) / var(--heading-sequence-tablet));
  --h9-tablet: calc(var(--h8-tablet) / var(--heading-sequence-tablet));
  --h10-tablet: calc(var(--h9-tablet) / var(--heading-sequence-tablet));
}

@custom-media --smaller-height-than-tablet (height < 768px);
@media (--smaller-than-tablet), (--smaller-height-than-tablet) {
  h1, .font-size-h1 { font-size: var(--h1-tablet); }
  h2, .font-size-h2 { font-size: var(--h2-tablet); }
  h3, .font-size-h3 { font-size: var(--h3-tablet); }
  h4, .font-size-h4 { font-size: var(--h4-tablet); }
  h5, .font-size-h5 { font-size: var(--h5-tablet); }
  h6, .font-size-h6 { font-size: var(--h6-tablet); }
  .font-size-h7 { font-size: var(--h7-tablet); }
  .font-size-h8 { font-size: var(--h8-tablet); }
  .font-size-h9 { font-size: var(--h9-tablet); }
  .font-size-h10 { font-size: var(--h10-tablet); }
}

h1 {
  text-transform: uppercase;
  letter-spacing: .3px;
}