:root {
  --heading-sequence: var(--major-second);
  --heading-median: 2.9;

  /* heading additions */
  --h11: calc(var(--h10) / var(--heading-sequence));
  --h12: calc(var(--h11) / var(--heading-sequence));
  --h13: calc(var(--h12) / var(--heading-sequence));
  --h14: calc(var(--h13) / var(--heading-sequence));
  --h15: calc(var(--h14) / var(--heading-sequence));
}

.font-size-h11 { font-size: var(--h11); }
.font-size-h12 { font-size: var(--h12); }
.font-size-h13 { font-size: var(--h13); }
.font-size-h14 { font-size: var(--h14); }
.font-size-h15 { font-size: var(--h15); }

:root {
  --heading-base-tablet: var(--heading-base);
  --heading-sequence-tablet: var(--minor-second);

  --h0-tablet: calc(var(--h1-tablet) * var(--heading-sequence-tablet));
  --h1-tablet: calc(var(--h2-tablet) * var(--heading-sequence-tablet));
  --h2-tablet: calc(var(--h3-tablet) * var(--heading-sequence-tablet));
  --h3-tablet: calc(var(--h4-tablet) * var(--heading-sequence-tablet));
  --h4-tablet: calc(var(--h5-tablet) * var(--heading-sequence-tablet));
  --h5-tablet: calc(var(--h6-tablet) * var(--heading-sequence-tablet));
  --h6-tablet: var(--heading-base-tablet);
  --h7-tablet: calc(var(--h6-tablet) / var(--heading-sequence-tablet));
  --h8-tablet: calc(var(--h7-tablet) / var(--heading-sequence-tablet));
  --h9-tablet: calc(var(--h8-tablet) / var(--heading-sequence-tablet));
  --h10-tablet: calc(var(--h9-tablet) / var(--heading-sequence-tablet));
  --h11-tablet: calc(var(--h10-tablet) / var(--heading-sequence-tablet));
  --h12-tablet: calc(var(--h11-tablet) / var(--heading-sequence-tablet));
  --h13-tablet: calc(var(--h12-tablet) / var(--heading-sequence-tablet));
  --h14-tablet: calc(var(--h13-tablet) / var(--heading-sequence-tablet));
  --h15-tablet: calc(var(--h14-tablet) / var(--heading-sequence-tablet));
}

@custom-media --smaller-height-than-tablet (height < 768px);
@media (--smaller-than-tablet), (--smaller-height-than-tablet) {
  h1, .font-size-h1 { font-size: var(--h1-tablet); }
  h2, .font-size-h2 { font-size: var(--h2-tablet); }
  h3, .font-size-h3 { font-size: var(--h3-tablet); }
  h4, .font-size-h4 { font-size: var(--h4-tablet); }
  h5, .font-size-h5 { font-size: var(--h5-tablet); }
  h6, .font-size-h6 { font-size: var(--h6-tablet); }
  .font-size-h7 { font-size: var(--h7-tablet); }
  .font-size-h8 { font-size: var(--h8-tablet); }
  .font-size-h9 { font-size: var(--h9-tablet); }
  .font-size-h10 { font-size: var(--h10-tablet); }
  .font-size-h11 { font-size: var(--h11-tablet); }
  .font-size-h12 { font-size: var(--h12-tablet); }
  .font-size-h13 { font-size: var(--h13-tablet); }
  .font-size-h14 { font-size: var(--h14-tablet); }
  .font-size-h15 { font-size: var(--h15-tablet); }
}
