:root {
  --fade-background: black;
  --fade-opacity: .5;
}

.fade {
  z-index: 90;
  position: fixed;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background: var(--fade-background);
  cursor: pointer;

  &:not(.in) {
    pointer-events: none;
  }

  opacity: 0;
  visibility: hidden;

  &.in, &.out {
    transition: var(--transition-duration-long);
    transition-property: opacity, visibility, transform;
  }
}

.fade.in {
  opacity: var(--fade-opacity);
  visibility: visible;
}