header.header {
  .content {
    display: flex;
  }

  .logo {
    display: inline-block;
    color: var(--primary-contrast);
    padding: var(--gutter-big);
    margin-left: -var(--gutter-big);
    filter: drop-shadow(rgba(0, 0, 0, .2) 0 1px 4px);

    svg { height: 4rem; }
  }

  &.sticked {
    background: var(--primary-contrast);

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    z-index: 10;
  }
}