:root {
  --home-vertical-padding: calc(var(--header-vertical-padding) + 10px);
}

main.home {
  padding-top: var(--home-vertical-padding);
  padding-bottom: var(--home-vertical-padding);
  color: var(--secondary-contrast);
  background: var(--secondary);
  position: relative;
  overflow: hidden;

  .circle {
    color: var(--secondary-darker);
    position: absolute;
    width: 80%;
    top: 0; left: 50%;
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
    z-index: 0;
  }

  .helper {
    line-height: 1.2;
    display: inline;
    color: var(--secondary-helper);
    transition: var(--transition-duration-shorter);
    transition-property: background, color;
    font-weight: var(--font-light);
  }

  .message {
    width: 60%;
    max-width: 80rem;
    margin-left: 20%;
    position: relative;

    /* &:hover .helper {
      color: var(--secondary-contrast);
      background: var(--secondary-helper);
    } */
  }
}