:root {
  --modal-background: white;
  --modal-color: black;
  --modal-border-radius: 4px;
}

.modal {
  z-index: 100;

  position: fixed;
  z-index: 100;
  background: var(--modal-background);
  min-width: 30rem;
  max-width: 62rem;
  width: 100%;
  text-align: center;
  padding: var(--gutter-large);
  box-sizing: border-box;

  /* effects */
  opacity: 0;
  visibility: hidden;

  &:not(.in) {
    pointer-events: none;
  }

  &.in, &.out {
    transition: var(--transition-duration);
    transition-property: opacity, visibility, transform;
  }

  .close {
    color: var(--quaternary);
    position: absolute;
    top: 0; right: 0;
    padding: var(--gutter);
    cursor: pointer;

    svg { width: 1em; }
  }
}

@media (--bigger-than-phone-big) {
  .modal {
    border-radius: var(--modal-border-radius);
    left: 50%; top: 50%;
    transform: translate3d(-50%, -50%, 0) scale(.75);
  }
}

@media (--smaller-than-phone-big) {
  .modal {
    left: 0;
    top: 0;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    transform: translate3d(0, 0, 0) scale(.75);
    padding: var(--gutter-large) var(--gutter);
  }
}

.modal.in {
  opacity: 1;
  visibility: visible;
}

@media (--bigger-than-phone-big) {
  .modal.in { transform: translate3d(-50%, -50%, 0) scale(1); }
}

@media (--smaller-than-phone-big) {
  .modal.in { transform: scale(1); }
}

.modal.out {
}

.modal.contact {
  form {
    display: block;
    margin: var(--gutter-large) 0;

    .button,
    .field {
      display: block;
      margin: var(--gutter-big) auto;
    }

    .field {
      width: 75%;
    }
  }
}