:root {
  --project-vertical-padding: 160px;
  --project-horizontal-padding: var(--header-horizontal-padding);
}

main.project {
  padding: var(--project-vertical-padding) 
    var(--project-horizontal-padding) 
    var(--home-vertical-padding);
  color: var(--primary-contrast);
  background: #222224;
  position: relative;
  overflow: hidden;

  .circle {
    color: #2F2F2F;
    position: absolute;
    width: 80%;
    bottom: -20%; left: 50%;
    transform: translate3d(-50%, 0, 0) rotate(90deg);
    z-index: 0;
  }

  h1 {
    font-weight: var(--font-light);
    font-weight: var(--font-medium);
    color: var(--secondary);
    font-size: 48px;
    text-decoration: underline;
  }

  h4 {
    text-transform: uppercase;
    font-weight: var(--font-light);

    p {
      line-height: 1.3;
      margin: .6em 0;
    }
  }

  h5 {
    margin: 1.2em 0 1.6em;

    span {
      &:after { content: '  /  ' }
      &:last-child:after { content: '' }
    }
  }

  .message {
    position: relative;
    max-width: 80%;
    z-index: 2;
  }
}

.images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  &:hover figure {
    opacity: .35;

    &:hover {
      opacity: 1;
    }
  }

  figure {
    position: relative;
    background: no-repeat center;
    background-size: cover;
    padding-bottom: 80%;
    transition: var(--transition-duration);
    transition-property: transform;
    transition: var(--transition-duration) ease opacity;
  }
}